
/* 2/12/2019 David Churn created */

@font-face {
  font-family: 'spaceranger';
  src: url('../fonts/spacerangerexpandital.ttf') format('truetype');
}
/*  Colors
#36494e  charcoal
#173753  space cadet (blue)
#3e92cc  celestial blue
#ffa630  deep saffron (yellowish)
#ede6e3  platinum
*/
/* Global declarations */
* {
  box-sizing: border-box;
}
.center {
  text-align: center;
}
.hidden {
  /* background: lightgreen; */
  display:none;
}
.hilite:hover {
  background: #3e92cc ;
}
body {
  margin: 0 5%;
  background: #ede6e3;
}
h1, h2, h3 {
  font-family: 'spaceranger',sans-serif;
}
input, #msn-status {
  margin: 0.3em;
  padding: 0.3em;
}
button {
  background: #3e92cc;
  font-family: 'spaceranger',sans-serif;
  margin: 0.5em;
  min-width: 10em;
  min-height: 2em;
}
tr th, tr td {
  padding: 1em;
  margin: 1em;
  border-bottom: solid 1px black;
}
#mdetail {
  background: #3e92cc;
  padding: 0 2em;
  max-width: 60%;
}
footer {
  font-family: sans-serif;
}
.inblock {
  display:inline-block;
  margin: 1%;
  width: 40%;
  vertical-align: top;
}

/*  Set up grid system (used?) */
.unit {
  padding: 0.5em;
  background-color: #3e92cc;
  margin: 0 0.5em;
}
.row {
  display:flex;
}
.flex1 {
  flex:1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.flex4 {
  flex: 4;
}
.flex5 {
  flex: 5;
}
.flex6 {
  flex: 6;
}
.flex7 {
  flex: 7;
}
.flex8 {
  flex: 8;
}
.flex9 {
  flex: 9;
}
.flex10 {
  flex: 10;
}
.flex11 {
  flex: 11;
}
.flex12 {
  flex: 12;
}
