
/* 2/12/2019 David Churn created */

/* Global declarations */
* {
  box-sizing: border-box;
}
.center {
  text-align: center;
}
.hidden {
  /* background: lightgreen; */
  display:none;
}
.hilite:hover {
  background: lightblue;
}
header {
  font-family: sans-serif;
}
body {
  margin: 0 4em;
}
input {
  margin: 0.5em;
  padding: 0.5em;
}
button {
  background: lightblue;
  margin: 0.5em;
  min-width: 10em;
}
tr th, tr td {
  padding: 1em;
  margin: 1em;
  border-bottom: solid 1px black;
}
footer {
  font-family: sans-serif;
}
.inblock {
  display:inline-block;
  margin: 0.5em;
  height: 6em;
  width: 6em;
  vertical-align: top;
  border:solid 1px black;
}

/*  Set up grid system (used?) */
.unit {
  padding: 0.5em;
  background-color: lightblue;
  margin: 0 0.5em;
}
.row {
  display:flex;
}
.flex1 {
  flex:1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.flex4 {
  flex: 4;
}
.flex5 {
  flex: 5;
}
.flex6 {
  flex: 6;
}
.flex7 {
  flex: 7;
}
.flex8 {
  flex: 8;
}
.flex9 {
  flex: 9;
}
.flex10 {
  flex: 10;
}
.flex11 {
  flex: 11;
}
.flex12 {
  flex: 12;
}
