/* 2/12/2019 David Churn created */

/* Themed front from dafont.com */
@font-face {
  font-family: 'spaceranger';
  src: url('../fonts/spacerangerexpandital.ttf') format('truetype');
}
/*  Colors
#36494e  charcoal
#173753  space cadet (blue)
#3e92cc  celestial blue
#ffa630  deep saffron (yellowish)
#ede6e3  platinum
*/
/* Global declarations */
* {
  box-sizing: border-box;
}
.center {
  text-align: center;
}
.hidden {
  /* background: #ffa630; */
  display:none;
}
.hilite:hover {
  background: #3e92cc ;
}
body {
  margin: 0 5%;
  background: #ede6e3;
}
h1, h2, h3 {
  font-family: 'spaceranger',sans-serif;
}
input, #msn-status {
  margin: 0.3em;
  padding: 0.3em;
}
button {
  background: #3e92cc;
  border-radius: 50%;
  font-family: 'spaceranger',sans-serif;
  margin: 0.5em;
  min-width: 10em;
  min-height: 2em;
}
tr th, tr td {
  padding: 1em;
  margin: 1em;
  border-bottom: solid 1px black;
}
#mdetail {
  background: #3e92cc;
  padding: 0 2em;
  max-width: 60%;
}
footer {
  font-family: sans-serif;
}
.inblock {
  display:inline-block;
  margin: 1%;
  width: 40%;
  vertical-align: top;
}
